<launch>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="cameral_base" />
    <param name="io_method" value="mmap"/>    
    
  </node>  
  <!--node name="dobot_to_cameral" pkg="tf" type="static_transform_publisher" 
    args="0.213 -0.035 0.0 0.0 3.14 0.0 /dobot_base /cameral_base 40 " /-->

</launch>
